[user]
	email = shepelevnikolay97@gmail.com
	; email = shepelevnikolayigorevich97@gmail.com
	name = Nikolay Shepelev
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git.leadget.ru"]
	provider = generic
